<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listagem de usuarios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>
<body>
<nav class="navbar is-primary is-light is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                WBClients
            </a>
            <a style="margin-left: 10px" class="navbar-item is-active" href="/user-account/list">
                Listagem
            </a>
            <a style="margin-left: 10px" class="navbar-item" href="/user-account/new">
                Cadastro de usuario
            </a>
            <a style="margin-left: 10px" class="navbar-item" href="/statistics">
                Estatisticas
            </a>
        </div>
    </div>
</nav>



<section class="section hero is-light medium">
    <div class="container">
        <h1 class="title">
            Listagem de Clientes
        </h1>
    </div>
</section>
<section class="container mt-5">
    <input class="input is-rounded mb-5" id="myInput" name="keyword" placeholder="Entre com o nome para pesquisar"
           type="text">
    <button id="M" class="M button" type="button">Male</button>
    <button id="F" class="F button" type="button">Female</button>



    <table data-order='[[ 1, "asc" ]]' data-page-length='10' id="profileList" class="table container" style="width: 90%">
        <thead>
        <tr>
            <th>Id</th>
            <th style="width: 20%">Name</th>
            <th >Telefone</th>
            <th>Data de Nascimento</th>
            <th>Gênero</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:id="'tr' + ${profile.id}" th:each="profile: ${profileList}">
            <td th:text="${profile.id}">Id</td>
            <td th:text="${profile.name}">Nome</td>
            <td th:text="${profile.telephone}">Telefone</td>
            <td th:text="${profile.birthdate}">Data de Nascimento</td>
            <td th:text="${profile.gender}">Gênero</td>
            <td>  <a th:href="@{'/user-account/edit/' + ${profile.id}}"><button class="button is-warning is-light">Edit</button></a></td>
            <td>  <a th:href="@{'/user-account/delete/' + ${profile.id}}"><button class="button is-danger is-light">Delete</button></a></td>
        </tr>
        </tbody>
    </table>
</section>

<script>
    var table = $('#profileList').DataTable({
        "sDom":"ltipr",
        buttons: [
            'columnsToggle'
        ]
    });
    $('#M').on( 'click', function () {
        var state = $(this).data('state');
        state = !state;
        if (state) {
            table.columns(4).search('M').draw();
            var element = document.getElementById("M");
            element.classList.add("is-primary");
        } else {
            table.columns(4).search('').draw();
            var element = document.getElementById("M");
            element.classList.remove("is-primary");
        }
        $(this).data('state', state);
    } );
    $('#F').on( 'click', function () {
        var state = $(this).data('state');
        state = !state;
        if (state) {
            table.columns(4).search('F').draw();
            var element = document.getElementById("F");
            element.classList.add("is-primary");
        } else {
            table.columns(4).search('').draw();
            var element = document.getElementById("F");
            element.classList.remove("is-primary");
        }
        $(this).data('state', state);
    } );
    $('#myInput').on( 'keyup', function () {
        table.search( this.value ).draw();
    } );
</script>

</body>
</html>